button{
    background-color: #000;
    border: 1px solid yellow;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}
button:hover{
    background-color: grey;
    color: #fff;
}