.app{
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
body{
  padding: 20px;
  
}

.app.dark{background-color: #bfbfbf;}
.mode{
  display: flex;
  margin: 15px 0;
  align-items: center;
  gap: 12px;
}
.mode input{
  appearance: none;
  outline: 1px solid #000;
  outline-offset: 4px;
  background-color: grey;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.mode input:checked{
  background-color: #000;
}
.app.dark button{background-color: #bfbfbf; }
